/* You can add global styles to this file, and also import other style files */
/* Apply styles to both the <body> and <html> elements */
body, html{
    margin:0;
    padding:0;
    height: 100%;
    width:100%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}